.div4
{
    height:745px;
}
.signincard
{
    height:715px;
    border-radius: 20px;
    position: relative;
    top: 16px;
    width: 470px;
    box-shadow: 0px 10px 10px 10px rgba(112, 144, 176, 0.12);
    border: none;
}
.logo
{
    height: 40px;
    width: 40px;
    position: relative;
    top: 45px;
    left: 45px;
    font-family: "public sans" , sans-serif;
    line-height: 1.5;
    border-radius: 25px;
    
}
.signincard h1
{
    position: relative;
    top: 145px;
    left: 45px;
    font-family: "public sans" , sans-serif;
    font-size: 32px;
    
}
.book
{
    position: relative;
    top: 180px;
}
.div8
{
    height: 745px;
}
.createaccount
{
    
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    position: relative;
    left: 750px;
    top: 40px;
    font-size: 13.8px;
}
.div8 h1
{
    font-weight: 700;
    font-size: 1.25rem;
    font-family: "Public Sans", sans-serif;
    position: relative;
    top: 122px;
    left: 242px;
    font-size: 24px;
}
.enterdetail
{
    font-size: 1.1rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
    position: relative;
    top: 125px;
    left: 243px;
}
.registerfname
{
    height: 55px;
    width: 235px;
    border-radius: 10px;
    position: relative;
    top: 145px;
    left: 244px;
}
.lname
{
    height: 55px;
    width: 235px;
    border-radius: 10px;
    position: relative;
    top: 90px;
    left: 490px;
}
.email
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 115px;
    left: 244px;
}
.username
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 140px;
    left: 244px;
}
.pwd
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 115px;
    left: 244px;
}
.submit
{
    height: 50px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 135px;
    left: 245px;
    background-color:#f45ca5;
    border: none;
}
.submit:hover
{
    background-color: #ff7bbb;
}
/* .eye
{
    position: relative;
    top: 88px;
    left: 685px;
} */
.lastpara
{
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    color: rgb(99, 115, 129);
    position: relative;
    top: 140px;
    right: 20px;
}
@media (max-width:1450px)
{
    .createaccount
    {
        position: relative;
        left: 600px;
    }
    .signincard
    {
        width: 400px;
    }
    .signincard h1
    {
        position: relative;
        left: 1px;
    }
}
@media (max-width:1265px)
{
    .signincard h1
    {
        position: relative;
        left: 2px;
    } 
}

@media (max-width:1250px)
{
    .createaccount
    {
        position: relative;
        left: 450px;
    }
    .signincard
    {
        width: 360px;
    }
}
@media (max-width:1100px)
{
    .createaccount
    {
        position: relative;
        left: 250px;
    }
    .signincard
    {
        width: 270px;
    }
    .div8 form
    {
        position: relative;
        right: 140px;
    }
}
@media (max-width:860px)
{
    .createaccount
    {
        position: relative;
        left: 50px;
    }
    .signincard
    {
        width: 270px;
    }
    .div8 form
    {
        position: relative;
        right: 200px;
    }
    .div8 h1
    {
        position: relative;
        left: 51px;
    }
    .enterdetail
    {
        position: relative;
        left: 51px;
    }
    .signincard
    {
        width: 250px;
    }
}
@media (max-width:800px)
{
    .createaccount
    {
        position: relative;
        left: -7px;
    }
    .signincard
    {
        width: 270px;
    }
    .div8 form
    {
        position: relative;
        right: 251px;
    }
    .div8 h1
    {
        position: relative;
        left: -8px;
    }
    .enterdetail
    {
        position: relative;
        left: -8px;
    }
    .signincard
    {
        width: 250px;
    }
}
@media (max-width:746px)
{
    .div4
    {
        width: 100%;
        height: 508px;
    }
    .signincard
    {
        height: 485px;
    }
    .div8
    {
        height:625px;
        width: 625px;
    }
}
